<div class="header-main">
    <div class="header-title">
        <h2>{{pageTitle}}</h2>   
    </div>
    <div class="search-info">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>
        <img src="/images/user.jpg" alt="user">
    </div>
</div>
